@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightslategrey;
    text-align: center;
}

.info-box {
    background-color: #fff;
    padding: 30px;
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.info-box h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.info-box span {
    font-size: 18px;
    color: #555;
}

body h4 {
    color: lightslategrey;
}

#cookie-image {
    width: 150px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: 70px;
}

#cookie-image:hover {
    transform: scale(1.1);
}

#cookie-count {
    font-size: 32px;
    margin-top: 20px;
}