/*******************  Caroussel (pas touche)******************/
.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover; /* Remplir sans déformer */
}

#n1 {
  background-image: url("https://fr.web.img2.acsta.net/pictures/17/10/12/10/09/5958933.jpg");

  &:nth-child(1),
  &:nth-child(2) {
    background-image: url("vidéo/videoplayback-ezgif.com-crop.gif");
    background-size: cover;
    background-position: center;
  }
}

#n2 {
  background-image: url("https://imgsrc.cineserie.com/2004/05/88711.jpg?ver=1");
  &:nth-child(1),
  &:nth-child(2) {
    background-image: url("vidéo/LEJOURDAPRSTHEDAYAFTERTOMORROW2004Bande-annonceVOST-ezgif.com-crop.gif");
    background-size: cover;
    background-position: center;
  }
}

#n3 {
  background-image: url("https://play-lh.googleusercontent.com/1entmfPsWFZH6TX2-kEXUySNgX680jVNWZzEhAWqd8k1UmxeCukOXglMsozUubk0Cvk");
  &:nth-child(1),
  &:nth-child(2) {
    background-image: url("vidéo/Bande-annonce-AvantleDlugeBeforetheFloodofficialtrailer-ezgif.com-video-to-gif-converter.gif");
    background-size: cover;
    background-position: center;
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: "arial-black";
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.change {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }
    & .description {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }
    & .description {
      font-size: 0.65rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}

/************ Main ************/

/*######## GLOBALE #######*/

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100%; /* Assure que le fond couvre toute la hauteur */
  font-family: Arial, sans-serif; /* Optionnel : améliore la lisibilité du texte */
  overflow-x: hidden;
}

/*####### CLASS #####*/
.navbar {
  width: 100%;
  height: 70px;
  background-color: rgb(9, 186, 9);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo_container {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.logo {
  width: auto;
  max-width: 130px;
  max-height: 60px;
  margin-left: 30px;
  margin-top: 10px;
}

.menu_container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu li {
  font-size: 18px;
}

.menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #4db;
}

/*######## SECTION ######*/

/* Styles pour les feuilles */
