@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: darkgreen;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgb(9, 186, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.logo_container {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding-right: 20px;
}

.logo {
    width: auto;
    max-width: 130px;
    max-height: 60px;
    margin-left: 30px;
    margin-top: 10px;
}

.menu_container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.menu li {
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #4db; 
}